* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #C1B5AD;
  }
  #map {
    height: 100vh;
    width: 100vw;
  }
  
  #navbar {
    display: flex;
    justify-content: space-between;
    padding: 0px 50px;
    background-color: steelblue;
    color: white;
    font-size: 1.2em;
  }
  
  #logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #menu {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .menu-item {
    padding: 0px 10px;
  }

  #sideBarContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    position: fixed;
    top: 65px;
    right: 0;
    height: 400px;
    width: 120px;
    z-index: 2;
  }

  .sideBarBox{
    height: 35%;
    width: 100%;
    background-color: orange;
  }


